<mat-toolbar color="primary">
  <span>Application Title</span>
  <a mat-button [routerLink]="['/home']">
    <mat-icon>account_circle</mat-icon> Home
  </a>
  <!--  Mitte -->
  <span class="fill-remaining-space"></span>
  <!--  Mitte -->
  <a mat-button color="basic" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon> Account
  </a>
  <mat-menu #menu="matMenu" [matMenuTriggerFor]="menu" yPosition="above" overlapTrigger="false">
    <button mat-menu-item [routerLink]="['account']">
      <mat-icon>account_circle</mat-icon> Account
    </button>
    <button mat-menu-item (click)="onClickLogout()">
      <mat-icon>settings_power</mat-icon> Logout
    </button>
  </mat-menu>
</mat-toolbar>