<div class="container-fluid">
  <div class="row justify-content-md-center" style="padding-top:200px;">
    <div class="col-md-4">

      <div class="card">
        <div class="card-header bg-primary">Anmelden</div>
        <div class="card-block">
          <div class="row mt-3">
            <div class="col-md-12">
              <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete='off'>
                <div class="form-group">
                  <labeled-input formControlName="username" [control]="form.controls.username" [label]="'Benutzer'"></labeled-input>
                  <labeled-input formControlName="password" [control]="form.controls.password" [label]="'Passwort'" [type]="'password'"></labeled-input>
                  <div class="col-md-12">
                    <ul *ngIf="errMsg" class="validation-errors">
                      <li style="color: red">
                        <strong>{{errMsg}}</strong>
                      </li>
                    </ul>
                    <button type="submit" style="margin-top: 10px" class="form-control btn btn-primary">Anmelden</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>